.chart {
  background-color: $secondary-bg-color;
  padding: 36px;
  border-radius: $border-radius-large;
}

.recharts-bar-rectangle path {
  fill: $primary-color;
}

.recharts-line path {
  stroke: $primary-color;
}

.recharts-cartesian-axis-tick {
  line {
    stroke: $light-grey-blue;
  }
  text {
    fill: $light-grey-blue;
  }
}

.recharts-yAxis > line,
.recharts-xAxis > line {
  stroke: $light-grey-blue;
}
