.tox-tinymce,
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary,
.tox:not(.tox-tinymce-inline) .tox-editor-header,
.tox .tox-statusbar,
.tox .tox-collection--list .tox-collection__item--enabled,
.tox .tox-collection--list .tox-collection__item--active {
  background-color: $secondary-bg-color !important;
}

.tox .tox-edit-area__iframe,
.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:hover,
.tox .tox-tbtn:hover,
.tox .tox-tbtn--bespoke,
.tox .tox-menu {
  background-color: $main-bg-color !important;
}

.tox .tox-tbtn svg,
.tox .tox-statusbar__branding svg,
.tox .tox-statusbar__resize-handle svg {
  fill: $light-grey-blue !important;
}

.tox-tinymce,
.tox .tox-statusbar {
  border-color: $secondary-bg-color !important;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label,
.tox .tox-collection__item,
.tox-statusbar__wordcount {
  color: $light-grey-blue !important;
}
