.form-card {
  background-color: $secondary-bg-color;
  border-radius: $border-radius-normal;
  max-width: 540px;
  margin: 40px auto;
  padding: 54px 40px;
}

.form {
  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__group {
    margin-bottom: 18px;
    text-align: left;

    &--flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__btn {
    margin-top: 18px;
  }
}

select {
  width: 100%;
  padding: $button-padding;
  border-radius: $border-radius-small;
  background-color: transparent;
  border: 1px solid $white-10;
  color: $light-grey-blue;

  &:hover,
  &:focus {
    border-color: $white-40;
  }

  option {
    background-color: $secondary-bg-color;
  }
}
