.grid {
  display: grid;
  align-items: flex-start;

  &--spacing-1 {
    grid-gap: 1rem;
  }

  &--spacing-2 {
    grid-gap: 2rem;
  }

  &--cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  &--cols-4 {
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $grid-xxl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $grid-xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
