input {
  border-radius: $border-radius-small;
  padding: $button-padding;
  background-color: transparent;
  border: solid 1px $white-10;
  color: $light-grey-blue;

  &::placeholder {
    color: $light-grey-blue;
    opacity: 0.5;
  }

  &:not([type='checkbox']) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border-color: $white-40;
  }
}
