.textarea {
  border-radius: $border-radius-small;
  padding: $button-padding;
  background-color: transparent;
  border: solid 1px $white-10;
  color: $light-grey-blue;
  overflow-y: auto;
  resize: none;

  &--w-full {
    width: 100%;
  }

  &--w-auto {
    width: auto;
  }

  &--h-300 {
    height: 300px;
  }

  &::placeholder {
    color: $light-grey-blue;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border-color: $white-40;
  }
}
