.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-primary-pattern {
  background-color: $primary-000;
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      $primary-color 25%,
      transparent 25%,
      transparent 75%,
      $primary-color 75%,
      $primary-color
    ),
    repeating-linear-gradient(
      45deg,
      $primary-color 25%,
      $primary-000 25%,
      $primary-000 75%,
      $primary-color 75%,
      $primary-color
    );
  background-position: 0 0, 23px 23px;
  background-size: 46px 46px;
  background-repeat: repeat;
}
