.fullscreen-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: $grid-md) {
    padding: 24px 16px;
    height: auto;
  }
}
