@import 'index';

body {
  background-color: $primary-color-light;
}

.page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $grid-md) {
    padding: 24px 16px;
    height: auto;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    margin-bottom: 40px;
  }

  .switch-auth {
    margin-top: 40px;
  }
}
