@import 'index.scss';

.panel {
  display: flex;
  min-height: 100vh;
  width: 100%;

  main {
    width: 100%;
    padding: 20px;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;

    h1 {
      text-transform: capitalize;
      margin-top: 36px;
    }

    .logged-user-bubble {
      background-color: $secondary-bg-color;
      padding: $button-padding;
      border-radius: $border-radius-large;
      cursor: pointer;

      .user-info {
        display: flex;
        align-items: center;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 18px;
          background-color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
          font-weight: bold;
        }

        .name {
          font-weight: bold;
        }
      }

      .logout {
        margin: 18px auto 0;

        button {
          padding: 10px;
          background-color: transparent;

          &:hover {
            background-color: $main-bg-color;
            color: white;
          }
        }
      }
    }
  }

  .menu {
    width: 290px;
    background-color: $secondary-bg-color;
  }

  .container {
    flex: 1;
  }
}
