// COLORS
$primary-color: #7551ff;
$primary-color-light: #ededfd;
$main-bg-color: #0b1437;
$secondary-bg-color: #111c44;

$light-grey-blue: #a3aed0;
$white-10: rgba(255, 255, 255, 0.1);
$white-40: rgba(255, 255, 255, 0.4);

// TYPOGRAPHY
$font-size-normal: 18px;

$main-heading-font-size: 40px;
$main-heading-font-size-mobile: 36px;

$secondary-heading-font-size: 32px;
$secondary-heading-font-size-mobile: 28px;

$input-font-size: 20px;

// BREAKPOINTS
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1400px;

// OTHER
$border-radius-normal: 18px;
$border-radius-large: 24px;
$border-radius-small: 14px;

$button-padding: 18px 24px;
$transition: all 200ms ease-in;
