// COLORS
$primary-color: #6c36ab;
$primary-color-light: #faf5ff;
$light-gray: #f2f2f2;
$gray: #bbbbbb;
$black: #121212;

// TYPOGRAPHY
$font-size-normal: 18px;

$main-heading-font-size: 40px;
$main-heading-font-size-mobile: 36px;

$secondary-heading-font-size: 32px;
$secondary-heading-font-size-mobile: 28px;

$input-font-size: 20px;

// BREAKPOINTS
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1400px;

// OTHER
$border-radius-normal: 18px;
$border-radius-large: 24px;
$border-radius-small: 12px;
