html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  color: $light-grey-blue;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,
input,
select {
  outline: none;
  transition: $transition;

  &:focus {
    outline: none;
  }
}

hr {
  margin: 0;
  background-color: $main-bg-color;
  border: none;
  height: 1px;
}
