html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,
input,
select {
  outline: none;
  transition: 200ms ease-in;
}
