form {
  input,
  select {
    margin-bottom: 16px;
  }

  button[type='submit'] {
    margin-top: 18px;
  }

  select {
    width: 100%;
    padding: $button-padding;
    border-radius: $border-radius-small;
    background-color: transparent;
    border: 1px solid $white-10;
    color: $light-grey-blue;

    &:invalid {
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      border-color: $white-40;
    }

    option {
      background-color: $secondary-bg-color;
    }
  }

  input[type='checkbox'] {
    cursor: pointer;
    margin-top: 16px;

    &::after,
    &:checked:after {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 4px;
      display: inline-block;
      top: -3px;
      position: relative;
    }

    &::after {
      background-color: $secondary-bg-color;
      border: 1px solid $primary-color;
    }

    &:checked:after {
      background-image: url('../../assets/check.svg');
      background-color: $primary-color;
    }

    ~ label {
      margin-left: 20px;
    }
  }
}
