// margin top
.mt-12 {
  margin-top: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

// margin bottom
.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-400 {
  margin-bottom: 400px;
}

// margin right
.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

// width and height
.h-100vh {
  height: 100vh;
}

.w-full {
  width: 100%;
}
