@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-size-normal;
  color: $black;
}

h1,
h2,
h3,
.alt-font {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: $main-heading-font-size;

  @media screen and (max-width: $grid-sm) {
    font-size: $main-heading-font-size-mobile;
  }
}

h2 {
  font-size: $secondary-heading-font-size;

  @media screen and (max-width: $grid-sm) {
    font-size: $secondary-heading-font-size-mobile;
  }
}

p {
  margin: 0;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}
